* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p.titletime {
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

p.time {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

div.clearfix {
    display: block;
    content: "";
    clear: both;
}

body {
    background-image: url(img/bgc.jpg);
    background-position: center;

}

header {
    display: block;
    width: 80%;
    height: 20vh;
    background-image: url(img/naglowek.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px black;
    margin: 1% auto 3% auto;
    position: relative;
}

header p {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
    font-family: 'DM Mono', monospace;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

main {
    width: 90%;

    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px #5bc0be;

    position: relative;
    padding: 40px;


}

div.poland {
    margin: 0 auto;
    width: 90%;
    height: 50vh;
    background-image: url(img/poland.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px #5bc0be;
    padding: 40px auto;

}

div.world {
    margin: 0 auto;
    width: 90%;
    height: 50vh;
    background-image: url(img/world.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px #5bc0be;
    margin: 40px auto;

}

div.rozpoznanepolska h2 {
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ddd;

}



.chart-container {
    position: relative;
    margin: auto;


}

.chart-container2 {
    position: relative;
    margin: auto;



}

footer {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    line-height: 50px;
    text-align: center;
}

h1.title {
    text-align: center;
    font-size: 56px;
    letter-spacing: 6px;
}

.poland h1.title {
    color: #5bc0be;
    text-shadow: 6px 6px black;
    padding: 20px;
}

.world h1.title {
    color: #5bc0be;
    text-shadow: 6px 6px black;
    padding: 20px;

}

.poland div,
.world div {
    width: 49%;
    float: left;
    height: 28%;
}

.poland div p,
.world div p {
    display: block;
    float: left;
    width: 48%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    color: #FCA311;
}

.poland div p.title,
.world div p.title {
    font-size: 30px;
    color: #aed9e0;
    text-align: justify;
    padding-left: 25px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width:870px) {

    .poland div,
    .world div {

        height: 27%;
    }

    .poland div p,
    .world div p {
        display: block;
        float: left;
        width: 48%;
        height: 80%;
        text-align: right;
        font-size: 23px;
        color: #FCA311;
    }

    .poland div p.title,
    .world div p.title {
        font-size: 25px;
        color: #aed9e0;
        text-align: justify;
        padding-left: 12px;
    }
}

@media (max-width:361px) {

    .poland div,
    .world div {

        height: 27%;
    }

    .poland div p,
    .world div p {
        display: block;
        float: left;
        width: 48%;
        height: 80%;
        text-align: right;
        font-size: 12px;
        color: #FCA311;
    }

    .poland div p.title,
    .world div p.title {
        font-size: 11px;
        color: #aed9e0;
        text-align: justify;
        padding-left: 6px;
    }
}